<h1>{{ title }}</h1>

<form action='/database/overview_tags' method='post'>
  <input type='submit' value='See current tag hierarchy'>
</form>
<br>
<form action='/database/manage_tags' method='post'>
  <input type='submit' value='Create/delete tags'>
</form>
