<h2>{{error}}</h2>

<p>Something went wrong. Please try again.</p>

<form action='/create' method='post'>
  <input type='submit' value='Try again'>
</form>

<form action='/' method='get'>
  <input type='submit' value='Go to Frontpage'>
</form>
<form action='/search' method='get'>
  <input type='hidden' name='selecttag' value='All'>
  <input type='submit' value='Go to Search/All'>
</form>