<h1>About</h1>

<p>
Diese Website ist ein Projekt des KOMMS (Kompetenzzentrum f체r mathematische Modellierung in 
MINT-Projekten in der Schule).<br>
Das Projekt wird zur Zeit von Mark-Oliver Wolf, einem Studenten der TU Kaiserslautern, durchgef체hrt.<br>
<br>
<u>Ziel:</u><br>
Erstellung einer Website, welche als Plattform f체r Aufgaben und gleichzeitig 
als Werkzeug zum Erstellen neuer Aufgabenbl채tter dient.
</p>
<br><br><br>
<p>
This website is a WIP project of KOMMS (german abbreviation for "centre for mathematic 
modelling in stem-projects in schools").<br>
At the moment it is a one man project by Mark-Oliver Wolf, a student of the TU Kaiserslautern.<br>
<br>
<u>Goal:</u><br>
Creation of a website with two main functions: a platform for sharing exercises with other 
tutors/teachers and a tool for creating exercise sheets or exams.
</p>
<br><br><br>
<p>The user system is implemented through the use of a free license of AUTH0.<br>
 Click <a src='https://manage.auth0.com/dashboard/eu/ubgenerator'>here</a> to get to the management dashboard.</p>