<h1>Alpha Now Live</h1>

<p>
The website is now in alpha and exercises can be uploaded. Many functionalities are still missing, but
the database is <b>not</b> going to be wiped anymore. If you are an admin, be careful with the database management part
of the website. If something goes wrong or does not work like expected, write an email to
mowolf@rhrk.uni-kl.de and I will try to fix it as soon as possible. Backups are made every night.
</p>

<h4>Changelog:</h4>
  <p>v0.02.1:</p>
  <p>-fixed upload limit bug</p>
  <p>-now able to view source code of uploaded exercises</p>
  <p>-disabled spellcheck in textareas</p>
  <p>v0.02:</p>
  <p>-added ability to create solutions for exercises when creating them, changed create process</p>
  <p>-small changes</p>

<form action='/search' method='get'>
  Press <input type='submit' value='Search'> to search for already existing exercises.
</form>
<br>
<form action='/create' method='get'>
  Press <input type='submit' value='Create'> to submit a new exercise.
</form>