<h1>{{ title }}</h1>

<form action='/search' method='get'>
  Press <input type='submit' value='Search'> to search for already existing exercises.
</form>
<br>
<form action='/create' method='get'>
  Press <input type='submit' value='Create'> to submit a new exercise.
</form>