<h1>Welcome to Uebomat - Alpha Now Live</h1>

<p>
Uebomat is now in alpha and exercises can be uploaded. Many functionalities are still missing, but
the database is <b>not</b> going to be wiped anymore. If you are an admin, be careful with the database management part
of the website. If something goes wrong or does not work like expected, write an email to
mowolf@rhrk.uni-kl.de and I will try to fix it as soon as possible. Backups are made every night.
</p>

<form action='/search' method='get'>
  Press <input type='submit' value='Search'> to search for already existing exercises.
</form>
<br>
<form action='/create' method='get'>
  Press <input type='submit' value='Create'> to submit a new exercise.
</form>
<br><br>

<h4>Changelog:</h4>
  <p>v0.5</p>
  <p>-Search Function implemented! You can now search for headline strings or text strings</p>
  <p>-reworked the tag search into an intersection search instead of union, so if you now select two tags, you get
    all intersecting tags of the subtree</p>
  <p>-inputed search queries now stay in the search form, so you can easily see for what exactly you searched</p>
  <p>v0.4</p>
  <p>-it is now possible to edit exercises and solutions after creating them!</p>
  <p>-you can now choose to either copy all packages used, or just the unique packages used</p>
  <p>-fixed a bug with empty tags and how they were saved</p>
  <p>-fixed a bug when tagging exercises with a tag with spaces, if you did this please review your tags</p>
  <p>v0.3.4</p>
  <p>-solutions now get correctly deleted when deleting exercise</p>
  <p>v0.3.3</p>
  <p>-fixed another tag bug</p>
  <p>v0.3.2</p>
  <p>-fixed crucial tag bug</p>
  <p>v0.3.1</p>
  <p>-you can now already enter the title of an exercise on the first creation step</p>
  <p>-you can now return to the normal exercise from the edit exercise site</p>
  <p>v0.3</p>
  <p>-errors while creating exercises now with more information!</p>
  <p>-fixed visual bug seeable when showing source code of exercise</p>
  <p>-created option to copy to clipboard source code with nice tooltips</p>
  <p>-created ability to see solutions of exercises</p>
  <p>v0.2.1:</p>
  <p>-fixed upload limit bug</p>
  <p>-now able to view source code of uploaded exercises</p>
  <p>-disabled spellcheck in textareas</p>
  <p>v0.2:</p>
  <p>-added ability to create solutions for exercises when creating them, changed create process</p>
  <p>-small changes</p>