<h1>Datenschutz - Privacy Policy</h1>

<p>Deutsch:</p><br>
<a id='datenschutzerklaerung_link_ger' href='https://www.uni-kl.de/datenschutzerklaerung/'>Datenschutzerklärung</a><br>
<br><br>

<p>English:</p><br>
<a id='datenschutzerklaerung_link_eng' href='https://www.uni-kl.de/en/privacy/'>Privacy Policy</a><br>
<br><br><br>

<p>Auth0:</p>
<p>User authorization is managed via Auth0. For further information, visit <a href='https://auth0.com/'>their website</a>
or view their <a href='https://auth0.com/privacy'>privacy policy</a>.</p>

<p>Uebomat saves all exercises you created via the system with a link to your nickname. Every comment you made also
  gets saved with your nickname. Other users can see exercises and comments you uploaded. For further information
  write an email to mowolf@rhrk.uni-kl.de with the topic: 'About Privacy on Uebomat: ...'.<br>
  We will try to answer your email quickly. 
</p>