<h1>Datenschutz - Privacy Policy</h1>

<p>Deutsch:</p><br>
<a id='impressum_link_ger' href='https://www.uni-kl.de/impressum/'>Impressum</a><br>
<a id='datenschutzerklaerung_link_ger' href='https://www.uni-kl.de/datenschutzerklaerung/'>Datenschutzerklärung</a><br>
<br><br>

<p>English:</p><br>
<a id='impressum_link_eng' href='https://www.uni-kl.de/en/imprint/'>Imprint</a><br>
<a id='datenschutzerklaerung_link_eng' href='https://www.uni-kl.de/en/privacy/'>Privacy Policy</a><br>