<h1>Successfully deleted exercise!</h1>

<p>Deleted exercise name: {{deleted_exercise_name}}</p>

<form action='/' method='get'>
  <input type='submit' value='Go to Frontpage'>
</form>
<form action='/search' method='get'>
  <input type='hidden' name='selecttag' value='All'>
  <input type='submit' value='Go to Search/All'>
</form>